{
  "presets": [['env', { 'modules': false }], 'react', 'stage-0'],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "SERVER": "./app/server",
        "APP_ROOT": "./app/client",
        "LIB": "./app/lib",
        "MODULES": "./app/client/modules"
      }
    }]
  ]
}


